.header{
    font-size: 60px;
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 100px;
    margin-right: 50px;
}

.container {
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: verdana;
    display: flex;
}